//colores principales
$color-fondo: #c787a4;
$color-texto: #911a6387;
$color-botones: #bd3aa9;

//listas
$colores: rgb(211, 206, 209), rgba(255, 255, 255, 0.55), #fff, #c57c9e,rgba(77, 77, 92, 0.6), #b1628e;